# Build and Release Folders
manipulate_paper/bin/
manipulate_paper/bin-debug/
manipulate_paper/bin-release/
*~

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.